.productCardWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.productDetails{
    margin: 0 30px;
}

.productQuantity{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    border:2px solid orange;
}
.productQuantity p{
    padding: 0 10px;
}
.productQuantity div{
    cursor: pointer;
}